* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #5d5fd2;
    justify-content: center;
    align-items: center;
}

h2 button{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #f12f2c, #f17fa5, #7830f4, #1780d5, #22dcf5, #39d140, #eeff41, #f9a825, #e04313);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

#banner{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 350px;
    font-size: 2em;
    color: bisque;
}

.game{
    width:80%;
    height: 80%;
    margin: 2% 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: 2000px;
    border-radius: 1%;
    background-color: rgb(45, 192, 228);
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    
}

.card{
    width: calc(20% - 20px);
    height: calc(20%);
    margin: auto;
    position: relative;
    transform: scale(1);  
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 5%;
    border: 4px solid fuchsia;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3)
}
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

  
.card.flip {
    transform: rotateY(180deg);
}
 
.front,
  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(180deg);
  }
