body {
    background-color: antiquewhite;
    font-size: 1.5em;
}

.custom-css{
    background: rgba(9, 45, 4, 0.679)!important;
}

.custom-color-red{
    background-color: brown!important;
}

.custom-card-img{
    height: 500px;
    width: 500px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

ol li{
    font-size: 1em;
    background-color: rgb(199, 199, 227);
}

.completed {
    color: aliceblue;
    text-decoration: line-through;
}

h1 {
    text-align: center;
    transition: all 1s;
    }

.big {
        transform: scale(2);
        color: green;
    }

.small {
    transform: scale(0.5);
    color: red;
}